/* ======================= IMPORTED FILES ======================= */
/* ======================= IMPORTED FILES ======================= */

@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ======================= COLORS ======================= */
/* ======================= COLORS ======================= */

:root {
    --darkblue: #010021;
    --white: #ffffff;
    --purple: #6447B6;
}

/* ======================= GENERAL ======================= */
/* ======================= GENERAL ======================= */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--darkblue);
    font-family: 'Inter', sans-serif;
}

body,
html {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

button {
    border: none;
}

.button--action {
    background-color: var(--white);
    box-shadow: 4px 4px 0px #FFBA00;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    height: 30px;
    letter-spacing: -0.035em;
    padding: 0 5px;
}

.container {
    margin: 0 auto;
    width: 90%;
}

header {
    background-color: var(--purple);
    height: 65px;
    width: 100%;
}

h1 {
    font-size: 125px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.035em;
    line-height: 110%;
    margin: 0;
    text-align: left;
}

h1:nth-of-type(2) {
    color: #6FCF97;
}

h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 110%;
    margin: 0;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h3 {
    color: var(--white);
}
